

<div class="top-space">
  <div class="space-color">
 
  <div class="text-center">

      <div *ngIf="formInfo.role === 'ADMIN'">
          
          <button type="button" (click)="toggleForm()" class="btn btn-warning top-btn" data-dismiss="modal" data-toggle="modal" data-target="#addServiceModal">Add New Service</button>
        </div>
        <br>
        
        <div class="modal fade" id="addServiceModal">
            <div class="modal-dialog mod-top">
              <div class="modal-content">
          
                <!-- Modal body -->
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    
                    <form *ngIf="isFormShowing"  #serviceForm="ngForm">
                      <br>
                      <h2>Create New Service</h2>
                        <label>Name :</label>
                        <input  [(ngModel)]="newService.name" type="text" name="name" class="form-control in-style" #newServiceName="ngModel" required/>
                        <div [hidden]="newServiceName.valid || newServiceName.pristine"
                        class=" alert-danger in-style">
                        Service name is required
                        </div>
                        <br>
                        <label>Description :</label>
                          <input  [(ngModel)]="newService.description" type="text" name="description" class="form-control in-style" #newServiceDescription="ngModel" required/>
                          <div [hidden]="newServiceDescription.valid || newServiceDescription.pristine"
                        class=" alert-danger in-style">
                        Service description is required
                        </div>
                          <br>
                          <label>Price :</label>
                          <input  [(ngModel)]="newService.price" type="number" name="price" class="form-control in-style" #newServicePrice="ngModel" required/>
                          <div [hidden]="newServicePrice.valid || newServicePrice.pristine"
                          class=" alert-danger in-style">
                          Service price is required
                          </div>
                          <!-- <input type="file" name="file" ng2FileSelect [uploader]="uploader" /> -->
                          <!-- [(ngModel)]="newService.img"  -->
                          <br>
                          <button (click)="createService()" type="submit" class="btn btn-success" data-dismiss="modal" [disabled]="!serviceForm.form.valid"> Submit </button>
                      </form>
            
                </div>
          
              </div>
            </div>
          </div><!--END modal-->

  

</div><!--END add service-->
  
  
<!-- <div class="flex-container">
  <ul>
    <li *ngFor="let oneService of allTheServices.reverse()">  
      <p> {{oneService.img}} </p> 
      <a routerLink="/services/{{oneService._id}}" ><h3>{{oneService.name}}</h3></a>
      <p>{{oneService.description}}</p>
      <p>Service Price: ${{oneService.price}}.00</p>
      <br>
       <button type="button" (click)="addItemToCart(oneService._id)" >Add to Cart</button> 
      <div *ngIf="formInfo.role === 'ADMIN'">
        <button type="button" (click)="deleteService(oneService._id)" >Delete</button>
        <button type="button" (click)="toggleForm2()">Edit</button>
        <form *ngIf="isFormShowing2">
          <h2>Edit this Service</h2>
             <label>Name</label>
            <input [(ngModel)]="theUpdates.name" type="text" name="name">
            <br>
            <label>Description</label>
             <input [(ngModel)]="theUpdates.description" type="text" name="description">
             <br>
             <label>Price</label>
             <input [(ngModel)]="theUpdates.price" type="number" name="price">
             <br>
          <button type="button" (click)="updateService(oneService._id)" >Submit</button>
        </form>
      </div> 
    </li>
  </ul>
  </div>END all services -->
  
  
  <!-- <div >
      <div class="flex-container">
        <li *ngFor="let oneService of allTheServices.reverse()" class="card  text-center">  
          <a routerLink="/services/{{oneService._id}}" class="card-title"><h3>{{oneService.name}}</h3></a>
            <p class="card-body"> {{oneService.description}}</p>
            <p>Service Price: ${{oneService.price}}.00</p>
            <br>
             <button type="button" (click)="addItemToCart(oneService._id)" >Add to Cart</button> 
            
             <div *ngIf="formInfo.role === 'ADMIN'">
              <button type="button" (click)="deleteService(oneService._id)" >Delete</button>
              <button type="button" (click)="toggleForm2()">Edit</button>
              <form *ngIf="isFormShowing2">
                <h2>Edit this Service</h2>
                   <label>Name</label>
                  <input [(ngModel)]="theUpdates.name" type="text" name="name">
                  <br>
                  <label>Description</label>
                   <input [(ngModel)]="theUpdates.description" type="text" name="description">
                   <br>
                   <label>Price</label>
                   <input [(ngModel)]="theUpdates.price" type="number" name="price">
                   <br>
                <button type="button" (click)="updateService(oneService._id)" >Submit</button>
              </form>
            </div>   
          </li>
      </div>
    
    </div> -->
    <!--END proto service list-->

    <div class="flex-container">
        
          <li *ngFor="let oneService of allTheServices.reverse()">  
            
            <div class="card" style="width:400px">
              <div class="card-body text-center">
                  <img class="card-img-top" src="{{oneService.img}}" alt="Card image" >
           <a [routerLink]="['/services', oneService._id]" ><h3>{{oneService.name}}</h3></a>
            <p>{{oneService.description}}</p>

            <div class="flex-crypto">
            <p><b>Price</b>: ${{oneService.price}}.00</p>
            <select onmousedown="if(this.options.length>8){this.size=3;}" onchange="this.size=0;" onblur="this.size=0;">
            <option><b>BTC</b>: {{this.cryptoCompare.BTC * oneService.price | mathRound }}</option>
            <option><b>ETH</b>: {{this.cryptoCompare.ETH * oneService.price | mathRound }}</option>
            <option><b>XRP</b>: {{this.cryptoCompare.XRP * oneService.price | mathRound }}</option>
            <option><b>BCH</b>: {{this.cryptoCompare.BCH * oneService.price | mathRound }}</option>
            <option><b>EOS</b>: {{this.cryptoCompare.EOS * oneService.price | mathRound }}</option>
            <option><b>LTC</b>: {{this.cryptoCompare.LTC * oneService.price | mathRound }}</option>
            <option><b>ADA</b>: {{this.cryptoCompare.ADA * oneService.price | mathRound }}</option>
            <option><b>XLM</b>: {{this.cryptoCompare.XLM * oneService.price | mathRound }}</option>
            <option><b>IOT</b>: {{this.cryptoCompare.IOT * oneService.price | mathRound }}</option>
            <option><b>TRX</b>: {{this.cryptoCompare.TRX * oneService.price | mathRound }}</option>
            <option><b>NEO</b>: {{this.cryptoCompare.NEO * oneService.price | mathRound }}</option>
            <option><b>DASH</b>: {{this.cryptoCompare.DASH * oneService.price | mathRound }}</option>
            <option><b>XMR</b>: {{this.cryptoCompare.XMR * oneService.price | mathRound }}</option>
            <option><b>OMG</b>: {{this.cryptoCompare.OMG * oneService.price | mathRound }}</option>
            <option><b>XEM</b>: {{this.cryptoCompare.XEM * oneService.price | mathRound }}</option>
            <option><b>VEN</b>: {{this.cryptoCompare.VEN * oneService.price | mathRound }}</option>
            <option><b>BNB</b>: {{this.cryptoCompare.BNB * oneService.price | mathRound }}</option>
            <option><b>ETC</b>: {{this.cryptoCompare.ETC * oneService.price | mathRound }}</option>
            <option><b>BCN</b>: {{this.cryptoCompare.BCN * oneService.price | mathRound }}</option>
            <option><b>QTUM</b>: {{this.cryptoCompare.ETH * oneService.price | mathRound }}</option>
          </select>
          </div>
              <br>
             <button type="button" class="btn btn-warning" (click)="addItemToCart(oneService._id)" >Add to Cart</button> 
             <br><br>
            <div *ngIf="formInfo.role === 'ADMIN'">
            <div class="flex-btn">
              <button type="button" (click)="giveServiceToModal(oneService)" class="btn btn-info edit-btn" data-dismiss="modal" data-toggle="modal" data-target="#editServiceModal">Edit</button>
              <button type="button" (click)="deleteService(oneService._id)" class="btn btn-danger">Delete</button>
            </div>
            
            
            <!-- <br>
              <form *ngIf="isFormShowing2">
                <div class="text-center card-footer">
                  <br>
                <h2>Edit this Service</h2>
                   <label>Name : </label>
        
                  <input [(ngModel)]="theUpdates.name" type="text" name="name">
                  <br>
                  <label>Desc : </label>
                   <input [(ngModel)]="theUpdates.description" type="text" name="description">
                   <br>
                   <label>Price : </label>
                   <input [(ngModel)]="theUpdates.price" type="number" name="price">
                   <br>
                <button type="button" (click)="updateService(oneService._id)" class="btn btn-success">Submit</button>
              </div>
              </form> -->
            </div> 
          </div>
        </div>
          </li>
        
      </div>

</div>




<div class="modal fade" id="editServiceModal">
    <div class="modal-dialog mod-top">
      <div class="modal-content">
  
        <!-- Modal body -->
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            
            <form #serviceEditForm="ngForm">
                <div class="text-center">
                  <br>
                <h2>Edit this Service</h2>
                   <label>Name : </label>
        
                  <input [(ngModel)]="theUpdates.name" type="text" name="name" class="form-control in-style" #updateName="ngModel" required/>
                  <div [hidden]="updateName.valid || updateName.pristine"
                class=" alert-danger in-style">
                New service name is required
                </div>
                  <br>
                  <label>Description : </label>
                   <input [(ngModel)]="theUpdates.description" type="text" name="description"  class="form-control in-style" #updateDescription="ngModel" required/>
                   <div [hidden]="updateDescription.valid || updateDescription.pristine"
                 class=" alert-danger in-style">
                 New service description is required
                 </div>
                   <br>
                   <label>Price : </label>
                   <input [(ngModel)]="theUpdates.price" type="number" name="price" class="form-control in-style" #updatePrice="ngModel" required/>
                   <div [hidden]="updatePrice.valid || updatePrice.pristine"
                 class=" alert-danger in-style">
                 New service price is required
                 </div>
                   <br>
                <button type="button" (click)="updateService(oneService._id)" class="btn btn-success" data-dismiss="modal" [disabled]="!serviceEditForm.form.valid">Submit</button>
              </div>
              </form>
            
    
        </div>
  
      </div>
    </div>
  </div><!--END modal-->

</div>

<!-- <div class="card-body"> -->
  <!-- <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p> -->
    <!-- </div> -->
    
    
    


    



    
<!-- 
          <div *ngIf="formInfo.role === 'ADMIN'">
          
            <button type="button" (click)="toggleForm()" class="btn btn-warning top-btn" data-dismiss="modal" data-toggle="modal" data-target="#addServiceModal">Add New Service</button>
          </div>
          <br>
        
       
          <form *ngIf="isFormShowing">
            <label>Name of Service :</label>
            <input  [(ngModel)]="newService.name" type="text" name="name" class="form-control in-style" #newServiceName="ngModel"/>
            <div [hidden]="newServiceName.valid || newServiceName.pristine"
            class=" alert-danger in-style">
            Service name is required
            </div>
            <br>
            <label>Description of Service :</label>
              <input  [(ngModel)]="newService.description" type="text" name="description" class="form-control in-style" #newServiceDescription="ngModel"/>
              <div [hidden]="newServiceDescription.valid || newServiceDescription.pristine"
            class=" alert-danger in-style">
            Service description is required
            </div>
              <br>
              <label>Price of Service :</label>
              <input  [(ngModel)]="newService.price" type="number" name="price" class="form-control in-style" #newServicePrice="ngModel"/>
              <div [hidden]="newServicePrice.valid || newServicePrice.pristine"
              class=" alert-danger in-style">
              Service price is required
              </div>
              
              <br>
              <button (click)="createService()" type="submit" class="btn btn-success" data-dismiss="modal" [disabled]="!addServiceModal.form.valid"> Submit </button>
          </form> -->
          
          
         