<div class="top-space">
  <h1>
    service works!
  </h1>
  
  <!-- <div *ngIf="user">
    
    <button type="button" (click)="deleteTask(oneTask._id)" >Create Service</button>
  </div> -->
  
  <div *ngIf="formInfo.role === 'ADMIN'">
  
    <button type="button" (click)="toggleForm()">Add New Service</button>
  </div>
  <br>

  <form *ngIf="isFormShowing">
    <label>Name of Service</label>
    <input  [(ngModel)]="newService.name" type="text" name="name"/>
    <br>
    <label>Description of Service</label>
      <input  [(ngModel)]="newService.description" type="text" name="description"/>
      <br>
      <input type="file" name="file" ng2FileSelect [uploader]="uploader" />
      <!-- [(ngModel)]="newService.img"  -->
      <br>
      <button (click)="createService()" type="submit"> Submit </button>
  </form>
  
  
  
  <ul>
    <li *ngFor="let oneService of allTheServices.reverse()">  
        <p> {{oneService.img}} </p> 
  <a routerLink="/services/{{oneService._id}}" ><h3>{{oneService.name}}</h3></a>
  <p>{{oneService.description}}</p>
   <div *ngIf="formInfo.role === 'ADMIN'">
  
    <button type="button" (click)="deleteService(oneService._id)" >Delete</button>
    <button type="button" (click)="updateService(oneService._id)" >Edit</button>
   </div> 
  </li>
  </ul>
  </div>