<div class="top-space">
<p>
  cart works!
</p>



<ul>
  
</ul>

<h1>WTFFFFFFFFFF</h1>
<div *ngFor="let oneService of cartResponse">
<h2> name: {{oneService.name}} </h2>
<h3> description: {{oneService.description}} </h3>
<h4> price: {{oneService.price}} </h4>
</div>

<!--<h2>{{cartResponse.name}}</h2>-->

  <!--<h1> Test: {{myService.currentUser.cart}} </h1>-->

  <!--<h1> Test1: {{myService.currentUser.cart}} </h1>
  <h1> Test2: {{myService.currentUser.username}} </h1>
  <h1> Test3: {{myService.currentUser.email}} </h1>

  <h1> Test4: {{this.formInfo}} </h1>
  <h1> Test5: {{this.formInfo.username}} </h1>-->
  <!--<h1> Test5: {{myService.currentUser.currentCart}} </h1>-->
  

  <!--<li *ngFor="let oneItem of currentCart">
  <p> {{oneItem}} </p>
  </li>-->



<!--<li *ngFor="let oneItem of cartResponse">
  <h1> {{oneItem.name}} </h1>
  </li>-->
</div>
